version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: symfony_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
      - ./docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    environment:
      DATABASE_URL: "mysql://symfony:sadDSADA14541@db:3306/symfony_db?serverVersion=mariadb-10.11.2"
    depends_on:
      - db
    networks:
      - symfony_network

  nginx:
    image: nginx:stable-alpine
    container_name: symfony_nginx
    restart: unless-stopped
    ports:
      - "3002:80"
    volumes:
      - ./:/var/www/
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - symfony_network

  db:
    image: mariadb:10.11
    container_name: symfony_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: sdfKHJF8923DHKJ
      MYSQL_DATABASE: symfony_db
      MYSQL_USER: symfony
      MYSQL_PASSWORD: sadDSADA14541
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - symfony_network

volumes:
  db_data:

networks:
  symfony_network:
    name: symfony_network
    driver: bridge
