<footer class="bg-[#212529] text-white py-10 mt-[100px]">
	<div class="container mx-auto grid grid-cols-3 gap-6 text-left h-[196px] place-items-center">

		<div>
			<h3 class="font-semibold text-lg mt-[10px]">Contact the Publisher</h3>
			<p class="mt-[10px]">runo@gmail.com</p>
			<p class="mt-[10px]">+380 97 92 134 15</p>
		</div>


		<div>
			<h3 class="font-semibold text-lg mt-[10px]">Explore</h3>
			<ul class="space-y-2 mt-[10px]">
				<li class="mt-[10px]">
					<a href="#">About</a>
				</li>
				<li class="mt-[10px]">
					<a href="#">Partners</a>
				</li>
				<li class="mt-[10px]">
					<a href="#">Job Opportunities</a>
				</li>

			</ul>
		</div>


		<div>
			<h3 class="font-semibold text-lg mt-[10px]">Headquarter</h3>
			<p class="mt-[10px]">191 Middleville Road,</p>
			<p class="mt-[10px]">NY 1001, Sydney</p>
			<p class="mt-[10px]">Australia</p>
		</div>
	</div>


	<div class="mt-10 border-t border-gray-700 pt-4 text-center text-gray-400">
		<p>Oficial Blog Content</p>
		<p class="mt-2">
			<a href="#" class="text-white">2025</a>
		</p>
	</div>
</footer>
