<!DOCTYPE html>
<html lang="ua">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Головна сторінка
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script defer src="https://cdn.tailwindcss.com"></script>

		<link rel="stylesheet" href="{{ asset('build/app.css') }}?v={{ random() }}">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-[#F8F9FA] h-screen">

		{% block body %}
			{% if is_granted('ROLE_USER') and app.request.get('_route') != 'login' %}
				{% include 'includes/header.html.twig' with {
                imageUrlForHeaderOne: imageUrlForHeaderOne,
                imageUrlForHeaderTwo: imageUrlForHeaderTwo,
                imageUrlForHeaderThree: imageUrlForHeaderThree,
                imageUrlForHeaderFour: imageUrlForHeaderFour,
                imageUrlForHeaderFive: imageUrlForHeaderFive,
                logo: logo,
                homeLink: homeLink,
                aboutLink: aboutLink,
                adventureText: adventureText,
                titleOfHeader: titleOfHeader,
                currentDate: currentDate,
            } %}

				<main class="main">
					{% block content %}{% endblock %}
				</main>

				{% include 'includes/footer.html.twig' %}

			{% endblock %}

           <script>
            document.addEventListener("DOMContentLoaded", function () {
            new Swiper(".mySwiper", {
                loop: true,
                autoplay: {
                    delay: 3000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
            });
        });
         </script>

	</body>
</html>
